asgiref==3.7.2
cffi==1.15.1
cryptography==41.0.3
distlib==0.3.7
Django==4.2.5
django-filter==23.2
djangorestframework==3.14.0
filelock==3.12.3
mysqlclient==2.2.0
platformdirs==3.10.0
pycparser==2.21
PyMySQL==1.1.0
python-dotenv==1.0.0
pytz==2023.3.post1
sqlparse==0.4.4
virtualenv==20.24.5
